.search-section {
  /* width: 400px; */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 70px;
  /* position: relative; */
}

.form {
  display: flex;
  align-items: center;
  /* height: 100%; */
  position: absolute;
  /* top: 0; */
}

.label {
  height: 100%;
  flex-grow: 1;
  width: 300px;
  /* position: absolute; */
}

.input {
  /* position: absolute; */
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 0.8rem 1.2rem;
  transition: font-size 0.3s;
}

.input:focus {
  outline: none;
  font-size: 1.2rem;
}

.search-btn {
  /* flex-grow: 1; */
  /* flex-shrink: 0.5; */
  /* height: 100%; */
}
