.search-section {
  margin-bottom: 50px;
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
  height: 100%;
}

.label {
  flex-grow: 1;
}

.input {
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 0.8rem 1.2rem;
  transition: font-size 0.3s;
}

.input:focus {
  outline: none;
  font-size: 1.2rem;
}

.search-btn {
  height: 100%;
}
